test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <flow name="permitsInsertFlow">
        <set-variable variableName="errorList" value="#[new java.util.ArrayList()]" doc:name="Variable"/>
        <set-variable variableName="StepName" value="6. Started Permit Insertion" doc:name="Set flowVars.StepName = 6. Started Permit Insertion"/>
        <set-variable variableName="StepStart" value="#[dw('now')]" doc:name="Set flowVars.StepStart = DateTime.now()"/>
        <set-payload value="#[flowVars.ApplicationRequest.FileData]" doc:name="Set Payload = flowVars.ApplicationRequest.FileData"/>
        <enricher source="#[payload]" target="#[flowVars.ApplicationRequest.permitApplicationInsert]" doc:name="Message Enricher">
            <flow-ref name="permitApplicationInsertFlow" doc:name="Application Insert"/>
        </enricher>
        <expression-filter expression="#[flowVars.ApplicationRequest.permitApplicationInsert == true]" doc:name="#[flowVars.ApplicationRequest.permitApplicationInsert == true]"/>
        <enricher source="#[payload]" target="#[flowVars.ApplicationRequest.permitLineItemInsert]" doc:name="Message Enricher">
            <flow-ref name="permitLineItemInsertFlow" doc:name="Line Item Insert"/>
        </enricher>
        <expression-filter expression="#[flowVars.ApplicationRequest.permitLineItemInsert == true]" doc:name="#[flowVars.ApplicationRequest.permitLineItemInsert == true]"/>
        <scatter-gather doc:name="Scatter-Gather">
            <processor-chain>
                <logger level="INFO" doc:name="Logger"/>
                <foreach doc:name="For Each - Iterate RegulatedArticle">
                    <flow-ref name="insertRegulatedArticleSubflow" doc:name="Flow Reference - insertRegulatedArticleSubflow"/>
                </foreach>
            </processor-chain>
            <logger level="INFO" doc:name="Logger"/>
            <processor-chain>
                <logger level="INFO" doc:name="Logger"/>
                <foreach doc:name="For Each - Iterate Construct">
                    <flow-ref name="insertConstructSubflow" doc:name="Flow Reference - insertConstruct"/>
                </foreach>
            </processor-chain>
            <logger level="INFO" doc:name="Logger"/>
        </scatter-gather>
    </flow>
    <flow name="permitApplicationInsertFlow">
        <dw:transform-message doc:name="Transform Message" metadata:id="75658ce8-ce7a-42a0-a065-4df7189dd25f">
            <dw:input-payload mimeType="application/xml"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload.Submission.*Application map ((application , indexOfApplication) -> {
	Application_Status__c: null,
	Application_Type__c: application.AppCatType
})]]></dw:set-payload>
        </dw:transform-message>
        <sfdc:create config-ref="Salesforce__Basic_Authentication" type="Application__c" doc:name="Application Insert">
            <sfdc:objects ref="#[payload]"/>
        </sfdc:create>
        <set-variable variableName="PermitApplicationRecordID" value="" doc:name="Set flowVars.PermitApplicationRecordID "/>
        <flow-ref name="Create-Step-Status-Success" doc:name="Create Step Status - Success"/>
        <set-payload value="#[true]" doc:name="Set Payload = true"/>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <set-variable variableName="ErrorText" value="#[Permit Appplication Insert Failed]" doc:name="Set flowVars.ErrorText = Permit Appplication Insert Failed"/>
            <flow-ref name="Create-Step-Status-Error" doc:name="Create Step Status - Error"/>
            <set-payload value="#[false]" doc:name="Set Payload = false"/>
        </catch-exception-strategy>
    </flow>
    <flow name="insertRegulatedArticleSubflow">
        <exception-strategy ref="Global Catch Exception Strategy" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="insertArticleOrSupplierSubflow">
        <exception-strategy ref="Global Catch Exception Strategy" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="insertConstructSubflow">
        <set-variable variableName="StepStart" value="#[dw('now')]" doc:name="Variable"/>
        <set-variable variableName="StepName" value="7. asd" doc:name="Variable"/>
        <sfdc:no-operation-selected config-ref="Salesforce__Basic_Authentication" doc:name="insertConstruct"/>
        <scatter-gather doc:name="Scatter-Gather">
            <foreach doc:name="For Each">
                <flow-ref name="insertPhenotypeFlow" doc:name="Flow Reference - insertPhenotypeFlow"/>
            </foreach>
            <foreach doc:name="For Each">
                <flow-ref name="insertGenotypeFlow" doc:name="Flow Reference - insertGenotypeFlow"/>
            </foreach>
        </scatter-gather>
        <flow-ref name="Create-Step-Status-Success" doc:name="Flow Reference - Step Success"/>
        <exception-strategy ref="Global Catch Exception Strategy" doc:name="Reference Exception Strategy"/>
    </flow>
    <catch-exception-strategy name="Global Catch Exception Strategy">
        <set-variable variableName="ErrorText" value="Permit Line Item Insert Failed" doc:name="Set flowVars.ErrorText = Permit Line Item Insert Failed"/>
        <expression-component doc:name="Expression"><![CDATA[flowVars.errorList.add(exception.getMessage())]]></expression-component>
        <flow-ref name="Create-Step-Status-Error" doc:name="Create Step Status Error"/>
        <set-payload value="#[false]" doc:name="Set Payload"/>
    </catch-exception-strategy>
    <flow name="insertPhenotypeFlow">
        <set-variable variableName="StepStart" value="#[dw('now')]" doc:name="Variable"/>
        <set-variable variableName="StepName" value="7. asd" doc:name="Variable"/>
        <sfdc:no-operation-selected config-ref="Salesforce__Basic_Authentication" doc:name="insertPhenotypeSalesforce"/>
        <flow-ref name="Create-Step-Status-Success" doc:name="Flow Reference - Step Success"/>
        <exception-strategy ref="Global Catch Exception Strategy" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="insertGenotypeFlow">
        <set-variable variableName="StepName" value="7. asd" doc:name="Variable"/>
        <set-variable variableName="StepStart" value="#[dw('now')]" doc:name="Variable"/>
        <sfdc:no-operation-selected config-ref="" doc:name="insertGenotypeSalesforce"/>
        <foreach doc:name="For Each - Iterate Construct Component">
            <sfdc:no-operation-selected config-ref="" doc:name="insertConstructComponentSalesforce"/>
        </foreach>
        <flow-ref name="Create-Step-Status-Success" doc:name="Flow Reference - Step Success"/>
        <exception-strategy ref="Global Catch Exception Strategy" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="insertLocationSubflow">
        <exception-strategy ref="Global Catch Exception Strategy" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="permitLineItemInsertFlow">
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
}]]></dw:set-payload>
        </dw:transform-message>
        <sfdc:create config-ref="Salesforce__Basic_Authentication" type="AC__c" doc:name="Line Item Insert">
            <sfdc:objects ref="#[payload]"/>
        </sfdc:create>
        <set-variable variableName="PermitLineItemRecordID" value="" doc:name="Set flowVars.PermitLineItemRecordID"/>
        <flow-ref name="Create-Step-Status-Success" doc:name="Create Step Status Success"/>
        <set-payload value="#[true]" doc:name="Set Payload = true"/>
        <catch-exception-strategy name="Catch Exception Strategy" doc:name="Catch Exception Strategy">
            <set-variable variableName="ErrorText" value="Permit Line Item Insert Failed" doc:name="Set flowVars.ErrorText = Permit Line Item Insert Failed"/>
            <flow-ref name="Create-Step-Status-Error" doc:name="Create Step Status Error"/>
            <set-payload value="#[false]" doc:name="Set Payload"/>
        </catch-exception-strategy>
    </flow>
    <flow name="notificationsInsertFlow">
        <sfdc:no-operation-selected config-ref="Salesforce__Basic_Authentication" doc:name="Salesforce"/>
    </flow>
</mule>
